<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello dongqian!</h1>
<p> name: {{course.name}}</p>
<p> user count: {{course.user_count}}</p>
<p> teacher: {{course.teacher}}</p>
<p> is_private: {{course.is_private}}</p>
<p> not exist: {{course.not_exist}}</p>

{% macro course_item(course, type="bootstrap") %}
    <div>
        <p> type: {{ type }}</p>
        <p> name: {{ course.name }}</p>
        <p> user count: {{ course.user_count }}</p>
        <p> ... </p>
    </div>
{% endmacro %}

<div>{{ course_item(course) }}</div>
<p> {{ '=' * 20 }}</p>
<div> {{ course_item(course,"louplus") }}</div>

</body>
</html>